:root {
  --theme-bg-color: #000000;
  --theme-font-color: #ffffff;
  --header-height: 18vw;
  --header-height-pc: 48px;
}

html {
  font-family: Courier, monospace, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: var(--theme-font-color);
  background: #666666;
  animation: background-gradient 10s ease infinite;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -9999;
  background: #666666;
  animation: background-gradient 10s ease infinite;
}

@keyframes background-gradient {
  0%,
  100% {
    background: #333333;
  }
  50% {
    background: #666666;
  }
}

h1 {
  --line-height: 1.5;
  font-size: 40px;
  line-height: var(--line-height);
  margin: 30px 0;
}

h2 {
  --line-height: 1.4;
  font-size: 30px;
  line-height: var(--line-height);
  margin: 25px 0;
}

h3 {
  --line-height: 1.3;
  font-size: 24px;
  line-height: var(--line-height);
  margin: 24px 0;
}

p {
  --line-height: 1.2;
  font-size: 18px;
  line-height: var(--line-height);
  margin: 18px 0;
}

a,
a:active {
  color: var(--theme-font-color);
}

embed {
  display: inline-block;
  width: calc(var(--line-height) * 1em);
  width: calc(var(--line-height) * 1em);
  vertical-align: bottom;
}

.mobile {
  display: block;
}

.pc {
  display: none;
}

@media only screen and (min-width:640px) {
  .mobile {
    display: none;
  }
  .pc {
    display: block;
  }
}


/* 
 * 文字逐个上升动画效果
 * 使用方式：<div><span class="animation-text-up" style="--delay: 1s">content</span></div> 
 */

.animation-text-up {
  --delay: 0s;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: bottom;
  overflow-y: hidden;
  height: calc(var(--line-height) * 1em);
  padding-top: calc(var(--line-height) * 1em);
  /* background: gray; */
  animation: text-up 0.6s ease-in-out forwards var(--delay);
}

@keyframes text-up {
  to {
    padding-top: 0;
  }
}


/* 文字输入动画
 * 使用方式：<div class="animation-text-typing"></div> */

.animation-text-typing {
  --chars: 4;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  animation: text-typing calc(var(--chars) * 0.15s) steps(calc(var(--chars) + 1), jump-none) forwards;
}

@keyframes text-typing {
  from {
    width: 0ch;
  }
  to {
    width: calc(var(--chars) * 1ch);
  }
}

.animation-text-typing+i {
  --color: var(--theme-font-color);
  width: 2px;
  height: 1.5em;
  background: var(--color);
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.3em;
  animation: cursoring 1s steps(2, jump-none) infinite 1.5s;
}

@keyframes cursoring {
  from {
    opacity: 0;
  }
  tp {
    opacity: 1;
  }
}


/* 
 * 文件加载动画
 * 使用方式：<div class="animation-text-loading">content<i></i></div> 
 */

.animation-text-loading {
  --color: var(--theme-bg-color);
  --time: 1s;
  --delay: 0s;
  position: relative;
  cursor: text;
  color: transparent;
  animation: text-loading calc(var(--delay) + var(--time) / 2) steps(1) forwards;
}

.animation-text-loading * {
  opacity: 0;
  animation: text-loading calc(var(--delay) + var(--time) / 2) steps(1) forwards;
}

@keyframes text-loading {
  to {
    color: var(--theme-font-color);
    opacity: 1;
  }
}

.animation-text-loading::after {
  content: "";
  position: absolute;
  left: 0;
  top: -10%;
  width: calc(100% + 0.3em);
  height: 120%;
  background: var(--color);
  transform: scaleX(0);
  transform-origin: left;
  animation: textbg-loading var(--time) ease-in-out forwards;
  animation-delay: var(--delay);
}

@keyframes textbg-loading {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  40% {
    transform: scaleX(1);
    transform-origin: left;
  }
  60% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.animation-text-loading+i {
  --color: var(--theme-font-color);
  width: 2px;
  height: 1.5em;
  background: var(--color);
  display: inline-block;
  vertical-align: bottom;
  margin-left: 0.3em;
  opacity: 0;
  animation: cursoring 1s steps(1) infinite 0.8s;
}


/* 
骨架屏效果 
使用方式：<div class="animation-skeleton"></div>
 */

.animation-skeleton {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( -45deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 60%);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 200%;
  animation: skeleton 2s ease-in-out infinite;
}

@keyframes skeleton {
  to {
    background-position-x: -200%;
  }
}

.animation-spotlight {
  position: relative;
}

.animation-spotlight::after {
  content: attr(text);
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
  background: linear-gradient(90deg, #5fb4ff 0%, #e668ff 100%);
  background-size: 150%;
  background-position: center center;
  background-clip: text;
  -webkit-background-clip: text;
  clip-path: ellipse(50px 50px at 0% 50%);
  animation: spotlight 5s ease-in-out infinite;
}

@keyframes spotlight {
  0% {
    clip-path: ellipse(50px 50px at 0% 50%);
  }
  50% {
    clip-path: ellipse(50px 50px at 100% 50%);
  }
  100% {
    clip-path: ellipse(50px 50px at 0% 50%);
  }
}