#baseinfo {
  padding: 0 5vw;
  box-sizing: border-box;
}

#baseinfo h3 {
  font-weight: 300;
}

#baseinfo .boxs {
  overflow: hidden;
}

#baseinfo .box {
  position: relative;
  height: 220px;
  border: 1px solid var(--theme-font-color);
  border-radius: 5px;
  padding: 0 2%;
  float: left;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}

@media only screen and (min-width: 640px) {
  #baseinfo .box {
    width: 47%;
    height: 240px;
    margin-right: 3%;
  }
  #baseinfo .box:last-child {
    width: 50%;
    height: 240px;
    margin-right: 0;
  }
}

#baseinfo .box.intro {
  overflow: hidden;
}

#baseinfo .box.intro label {
  font-size: 12px;
  padding: 3px 10px;
  background: var(--theme-bg-color);
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: middle;
}

#baseinfo .box.intro .photo {
  --delay: 0s;
  position: absolute;
  right: -150px;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
  /* background: #000000; */
  background: url(../img/photo.png);
  background-size: cover;
  animation: photo-slide 0.5s ease-in-out forwards var(--delay);
}

@keyframes photo-slide {
  to {
    right: 0;
  }
}

#baseinfo .prizes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#baseinfo .prize {
  --delay: 0s;
  position: relative;
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
  padding-bottom: 5px;
  transform: rotateX(-90deg);
  animation: flip-over 0.5s ease-in-out forwards var(--delay);
}

@keyframes flip-over {
  to {
    transform: rotateX(0);
  }
}

#baseinfo .prize-img {
  display: inline-block;
  position: relative;
}

#baseinfo .prize-img img {
  width: 50px;
  height: 50px;
}

#baseinfo .prize-title {
  display: block;
  text-decoration: underline;
}

#baseinfo .prize label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

#baseinfo .prizes-details {
  --delay: 0s;
  position: relative;
  border: 1px solid var(--theme-font-color);
  height: 50px;
  box-sizing: content-box;
  margin-top: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  animation: expand 0.5s ease-in-out forwards var(--delay);
}

@keyframes expand {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

#baseinfo .prize-detail {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 12px;
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in-out;
}

#baseinfo input[name="prize-detail-control"] {
  display: none;
}

#baseinfo
  input[name="prize-detail-control"]:nth-of-type(2):checked
  ~ .prizes-details
  .prize-detail:first-child {
  margin-top: calc(-50px * 1);
}

#baseinfo
  input[name="prize-detail-control"]:nth-of-type(3):checked
  ~ .prizes-details
  .prize-detail:first-child {
  margin-top: calc(-50px * 2);
}

#baseinfo
  input[name="prize-detail-control"]:nth-of-type(4):checked
  ~ .prizes-details
  .prize-detail:first-child {
  margin-top: calc(-50px * 3);
}

#baseinfo .skills {
  margin-bottom: 50px;
}

#baseinfo .skills p {
  display: flex;
  align-items: flex-start;
}

#baseinfo .skills p > embed,
#baseinfo .skills p > i {
  flex: none;
}
#baseinfo .skills p > span {
  flex: 1;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  --color: #4cd265;
  --percent: 100%;
  margin: 0 6px;
  background-image: linear-gradient(
    90deg,
    var(--color) var(--percent),
    var(--theme-font-color) calc(100% - var(--percent))
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  white-space: pre;
}

#baseinfo .skills .pc p {
  width: 640px;
}

#baseinfo .resumes {
  margin-bottom: 100px;
}
