main {
  margin-top: var(--header-height);
}

@media only screen and (min-width:640px) {
  main {
    margin-top: var(--header-height-pc);
  }
}

main section {
  overflow: hidden;
}


/* 分割线 */

main .divider {
  --time: 1s;
  --delay: 0s;
  width: 100%;
  height: 1px;
  margin: 20px 0;
  transform: scaleX(0);
  transform-origin: left center;
  background: var(--theme-font-color);
  animation: divider-loading var(--time) ease-in-out forwards var(--delay);
}

@keyframes divider-loading {
  to {
    transform: scaleX(1);
  }
}