#jessezhu {
  --light-shadow: #555555;
  --deep-shadow: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  /* background-image: linear-gradient( -45deg, #62afff, #ffeab6, #f9b5fd, #62afff); */
  /* background-image: linear-gradient( -45deg, #002244, #5f3000, #50004e, #002244) */
}

@media only screen and (min-width:640px) {
  #jessezhu {
    height: calc(100vh - var(--header-height-pc));
  }
}

#jessezhu h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
  letter-spacing: 3px;
  margin: 0;
}

@media only screen and (min-width:640px) {
  #jessezhu h1 {
    font-size: 60px;
  }
}

#jessezhu i {
  position: relative;
  font-style: normal;
  z-index: 0;
}

#jessezhu i::before,
#jessezhu i::after {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(text);
}

#jessezhu i::before {
  z-index: -1;
  color: var(--light-shadow);
}

#jessezhu i::after {
  z-index: -2;
  color: var(--deep-shadow);
}

#jessezhu h1:nth-of-type(1) i {
  /* 会与common中的animation-text-up动画冲突 */
  /* animation: text-rotateh 5s ease-in-out infinite; */
}


/* @keyframes text-rotateh {
  0%,
  100% {
    transform: rotate3d(0, 1, 0, 20deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, -20deg);
  }
} */

#jessezhu h1:nth-of-type(1) i::before {
  animation: text-before-translateh 5.0s ease-in-out infinite;
}

@keyframes text-before-translateh {
  0%,
  100% {
    transform: translate3d(0.1em, -0.05em, -0.05em);
  }
  50% {
    transform: translate3d(-0.1em, -0.05em, -0.05em);
  }
}

#jessezhu h1:nth-of-type(1) i:after {
  animation: text-after-translateh 5.0s ease-in-out infinite;
}

@keyframes text-after-translateh {
  0%,
  100% {
    transform: translate3d(0.2em, 0.05em, -0.1em);
  }
  50% {
    transform: translate3d(-0.2em, 0.05em, -0.1em);
  }
}

#jessezhu h1:nth-of-type(2) i {
  /* animation: text-rotatev 5s ease-in-out infinite; */
}


/* @keyframes text-rotatev {
  0%,
  100% {
    transform: rotate3d(1, 0, 0, 20deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, -20deg);
  }
} */

#jessezhu h1:nth-of-type(2) i::before {
  animation: text-before-translatev 5.0s ease-in-out infinite;
}

@keyframes text-before-translatev {
  0%,
  100% {
    transform: translate3d(0.1em, -0.05em, -0.05em);
  }
  50% {
    transform: translate3d(0.1em, -0.25em, -0.05em);
  }
}

#jessezhu h1:nth-of-type(2) i:after {
  animation: text-after-translatev 5.0s ease-in-out infinite;
}

@keyframes text-after-translatev {
  0%,
  100% {
    transform: translate3d(0.2em, 0.05em, -0.1em);
  }
  50% {
    transform: translate3d(0.2em, -0.35em, -0.1em);
  }
}

#jessezhu .jessezhu-avatar {
  position: relative;
  display: block;
  margin: 30px 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--deep-shadow);
  box-shadow: 4px 2px var(--deep-shadow);
  animation: flip-over 1.5s ease-in-out forwards;
}

@keyframes flip-over {
  to {
    transform: rotateY(360deg);
  }
}

#jessezhu .jessezhu-avatar img {
  width: 100%;
  height: 100%;
}