#works {
  padding: 0 5vw;
  box-sizing: border-box;
}

#works .work-wrap {
  margin-bottom: 50px;
}

#works .work-wrap .work-desc {
  display: block;
}

#works .work-wrap .work-desc h2 {
  font-weight: 300;
}

#works .work-wrap .work-previews {
  width: 90vw;
  height: 45vw;
}

#works .work-wrap .work-previews .work-preview {
}

@media only screen and (min-width: 640px) {
  #works .work-wrap {
    display: flex;
    align-items: center;
  }

  #works .work-wrap .work-desc {
    flex: 1;
    margin-right: 30px;
  }

  #works .work-wrap .work-previews {
    width: 50vw;
    height: 25vw;
  }
  
  #works .work-wrap .work-previews .work-preview {
    width: 50vw;
    height: 25vw;
  }
}

ul.slides {
  position: relative;
  overflow: hidden;
  display: flex;
}

li.slide {
  flex: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 0.5s transform ease-in-out;
}

li.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

input[type="radio"] {
  display: none;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
  transform: translatex(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
  transform: translatex(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
  transform: translatex(-200%);
}

.slides input[type="radio"]:nth-of-type(4):checked ~ .slide {
  transform: translatex(-300%);
}

/* 左右 Button */
.navigator {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 1;
  display: none;
}

.navigator .left-button {
  cursor: pointer;
  display: block;
  width: 7vw;
  height: 7vw;
  background: url(../img/works/icon-arrow_round.png) 0 0/100% 100% no-repeat;
}
.navigator .right-button {
  cursor: pointer;
  display: block;
  width: 7vw;
  height: 7vw;
  background: url(../img/works/icon-arrow_round.png) 0 0/100% 100% no-repeat;
  transform: rotate(180deg);
}

@media only screen and (min-width: 640px) {
  .navigator .left-button {
    width: 32px;
    height: 32px;
  }
  .navigator .right-button {
    width: 32px;
    height: 32px;
  }
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .navigator:nth-of-type(1) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .navigator:nth-of-type(2) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .navigator:nth-of-type(3) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(4):checked ~ .navigator:nth-of-type(4) {
  display: flex;
}

/* 底部指示灯 */
.indicators {
  position: absolute;
  width: 100%;
  bottom: 12px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators .indicator {
  display: block;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  margin: 0 3px;
  border: 2px solid #a1a1a1;
  background-color: transparent;
  cursor: pointer;
}

@media only screen and (min-width: 640px) {
  .indicators .indicator {
    width: 10px;
    height: 10px;
  }
}

.slides
  input[type="radio"]:nth-of-type(1):checked
  ~ .indicators
  .indicator:nth-of-type(1) {
  background-color: #ffd65a;
}

.slides
  input[type="radio"]:nth-of-type(2):checked
  ~ .indicators
  .indicator:nth-of-type(2) {
  background-color: #ffd65a;
}

.slides
  input[type="radio"]:nth-of-type(3):checked
  ~ .indicators
  .indicator:nth-of-type(3) {
  background-color: #ffd65a;
}

.slides
  input[type="radio"]:nth-of-type(4):checked
  ~ .indicators
  .indicator:nth-of-type(4) {
  background-color: #ffd65a;
}
