#experience {
  padding: 0 5vw;
  box-sizing: border-box;
}

#experience h2 {
  font-weight: 300;
}

#experience .experience-wrap {
  margin-bottom: 60px;
  margin-top: -25px;
}

#experience .timeline {
  border-left: 4px solid var(--theme-bg-color);
  padding: 2vw 0;
}

#experience .timeline-item {
  --delay: 0s;
  position: relative;
  border: 1px solid var(--theme-font-color);
  border-left: 4px solid var(--theme-bg-color);
  padding: 4vw;
  margin-left: 4vw;
  margin-bottom: 4vw;
  font-weight: 300;
  border-radius: 6px;
  transform-origin: -20px;
  transform: scaleX(0);
  animation: expand 0.5s ease-in-out forwards var(--delay);
}

#experience .timeline-item:last-child {
  margin-bottom: 0;
}

@keyframes expand {
  to {
    transform: scaleX(1);
  }
}

#experience .timeline-item::before {
  content: "";
  width: 2vw;
  height: 2vw;
  background: var(--theme-font-color);
  border-radius: 50%;
  position: absolute;
  left: calc(-4px - 4vw - 2px - 1vw);
  top: 50%;
  transform: translateY(-50%);
}

#experience .timeline-item::after {
  content: "";
  position: absolute;
  left: calc(-4px - 4vw - 2px - 1vw);
  right: 100%;
  top: 50%;
  height: 4px;
  transform: translateY(-50%);
  background: var(--theme-bg-color);
  z-index: -1;
}

#experience .timeline-title {
  font-size: 18px;
  line-height: 2;
}

#experience .timeline-intro {
  font-size: 14px;
}

#experience .timeline-intro span {
  margin-right: 10px;
}

@media only screen and (min-width:640px) {
  #experience .experience-wrap {
    display: flex;
    justify-content: space-between;
  }
  #experience .education,
  #experience .work,
  #experience .project {
    flex-grow: 1;
  }
  #experience .education {
    padding-right: 50px;
  }
  #experience .work {
    padding-left: 50px;
    padding-right: 50px;
  }
  #experience .project {
    padding-left: 50px;
  }
  #experience .timeline {
    padding: 20px 0;
  }
  #experience .timeline-item {
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
  }
  #experience .timeline-item::before {
    width: 16px;
    height: 16px;
    left: calc(-4px - 20px - 2px - 8px);
  }
  #experience .timeline-item::after {
    left: calc(-4px - 20px - 2px - 8px);
  }
}