* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: #008eff;
}

a:hover {
    text-decoration: underline;
}